<header class="template-header">
	<div class="header-feature">
		<div id="parallax" class="template-logo">
			{{widget('logo', 'logo', {"defaultlogo": asset('img/logo.png')})|raw}}
			<h1>{{widget('companyname', 'companyname', {"business": "Lorem Ipsum"})|raw}}</h1>
		</div>
	</div>
</header>

<div class="main-wrap">
	<nav class="template-nav">
		{{widget('extendednavigation', 'navigationheader', {})|raw}}
	</nav>